@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;  
  font-size: 1em;
}

.content {
  max-width: 600px;
  margin: 20px auto;
  margin-top: 0px;
  padding: 20px;
}